.dataTable {
  display: flex;
  width: 700px;
  flex-direction: column;
  border: 1px solid black;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  MARGIN: 7px;
}

.column {
  width: 110px;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selectAll {
  border: none;
  width: 30px;
}

.accountData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

button {
  margin: 10px;
  padding: 5px;
  justify-self: center;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(73, 147, 165);
  color: rgb(235, 235, 235);
  font-weight: 700;
  font-family: Arial;
  font-size: 13px;
  border: none;
  align-self: center;
  transition: all 0.2s ease;
}

button:hover {
  background-color: rgb(92, 203, 211);
}
